[Unit]
Description=CCTV YOLO Detector
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/cctv
EnvironmentFile=/etc/cctv/credentials.env
ExecStart=/bin/python3 -u  /home/pi/cctv_media/mediamtx/startc.sh
          
#ExecStart=/home/ops/cctv/PYEVO/bin/python3  -u /home/ops/cctv/cctv-image-detector.py
Restart=always
RestartSec=5
# This ensures logs go to the right place
# Log to BOTH journal and file
StandardOutput=journal
StandardError=journal
# Or redirect to file: Write to file AND still keep in journal
# StandardOutput=append:/home/ops/cctv/cctv_detector.log
# StandardError=append:/home/ops/cctv/cctv_detector.log

[Install]
WantedBy=multi-user.target







